# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Build output
/dist/
/build/

# Miscellaneous
coverage/
